media-test/*
recognition-tests/config/__pycache__
server/drogon-tests/build/
__pycache__
OCR/__pycache__
tests/API/__pycache__
tests/API/tmp
tests/API/model.lvh
tests/API/model.py
tests/API/templates/index.html
venv
null
.flake8
.local.env
*.out
.vscode
docs
*.json
detected_values.txt

EASY/test.py
experimental/easy_beta/actix/target/*